{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="nk-main">

            <div class="nk-gap-2"></div>



<div class="container">

    <!-- START: Image Slider -->
    <div class="nk-image-slider" data-autoplay="8000">

        {% for product in products%}
        <div class="nk-image-slider-item">
            <img src="{{ product.image.url }}" alt="" class="nk-image-slider-img" data-thumb="{{ product.image.url }}">

            <div class="nk-image-slider-content">

                    <h3 class="h4">{{ product.title }}</h3>
                    <p class="text-white">{{product.description}}.</p>
                    <a href="{%url 'product_detail' product.id%}" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Read More</a>

            </div>

        </div>
        {%endfor%}


    </div>
    <!-- END: Image Slider -->

    <!-- START: Categories -->
    <div class="nk-gap-2"></div>
    <div class="row vertical-gap">
        <div class="col-lg-4">
            <div class="nk-feature-1">
                <div class="nk-feature-icon">
                    <img src="{% static 'html-store-gaming-template/assets/images/icon-mouse.png'%}" alt="">
                </div>
                <div class="nk-feature-cont">
                    <h3 class="nk-feature-title"><a href="#">PC</a></h3>
                    <h4 class="nk-feature-title text-main-1"><a href="#">View Games</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="nk-feature-1">
                <div class="nk-feature-icon">
                    <img src="{% static 'html-store-gaming-template/assets/images/icon-gamepad.png'%}" alt="">
                </div>
                <div class="nk-feature-cont">
                    <h3 class="nk-feature-title"><a href="#">PS4</a></h3>
                    <h4 class="nk-feature-title text-main-1"><a href="#">View Games</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="nk-feature-1">
                <div class="nk-feature-icon">
                    <img src="{% static 'html-store-gaming-template/assets/images/icon-gamepad-2.png'%}" alt="">
                </div>
                <div class="nk-feature-cont">
                    <h3 class="nk-feature-title"><a href="#">Xbox</a></h3>
                    <h4 class="nk-feature-title text-main-1"><a href="#">View Games</a></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Categories -->

    <!-- START: Latest News -->
    <div class="nk-gap-2"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Latest</span> News</span></h3>
    <div class="nk-gap"></div>

    <div class="nk-news-box">
        <div class="nk-news-box-list">
            <div class="nano">
                <div class="nano-content">

                    {%for new in news%}
                    <div class="nk-news-box-item nk-news-box-item-active">
                        <div class="nk-news-box-item-img">
                            <img src="{{ new.image.url }}" alt="{{new.title}}">
                        </div>
                        <img src="{{ new.image.url }}" alt="{{new.title}}" class="nk-news-box-item-full-img">
                        <h3 class="nk-news-box-item-title">{{new.title}}</h3>
                        {%for category in categories%}
                        <span class="nk-news-box-item-categories">
                            <span class="bg-main-4">{{category.name}}</span>
                        </span>
                        {%endfor%}
                        <div class="nk-news-box-item-text">
                            <p>{{new.description|slice:':80'}}...</p>
                        </div>
                        <a href="{%url 'news_detail' new.id%}" class="nk-news-box-item-url">Read More</a>
                        <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span>{{new.created_at}}</div>
                    </div>
                    {%endfor%}

                </div>
            </div>
        </div>
        <div class="nk-news-box-each-info">
            <div class="nano">
                <div class="nano-content">
                    <!-- There will be inserted info about selected news-->
                    <div class="nk-news-box-item-image">
                        <img src="{{new.image.url}}" alt="{{new.title}}">
                          {%for category in categories%}
                        <span class="nk-news-box-item-categories">
                            <span class="bg-main-4">{{category.name}}</span>
                        </span>
                        {%endfor%}
                    </div>
                    <h3 class="nk-news-box-item-title">{{new.title}}"</h3>
                    <div class="nk-news-box-item-text">
                        <p>{{new.description}}...</p>
                    </div>
                    <a href="#" class="nk-news-box-item-more">Read More</a>
                    <div class="nk-news-box-item-date">
                        <span class="fa fa-calendar"></span> {{new.created_at}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nk-gap-2"></div>
    <div class="nk-blog-grid">
        <div class="row">

            {%for product in products%}
            <div class="col-md-6 col-lg-3">
                <!-- START: Post -->
                <div class="nk-blog-post">
                    <a href="{%url 'product_detail' product.id%}" class="nk-post-img">
                        <img src="{{product.image.url}}" alt="{{product.title}}">
                        <span class="nk-post-comments-count">13</span>
                        {% for category in categories%}
                        <span class="nk-post-categories">
                                    <span class="bg-main-5">{{category.name}}</span>
                        </span>
                        {%endfor%}

                    </a>
                    <div class="nk-gap"></div>
                    <h2 class="nk-post-title h4"><a href="blog-article.html">{{product.title}}</a></h2>
                    <div class="nk-post-text">
                        <p>{{product.description|slice:':80'}}...</p>
                    </div>
                    <div class="nk-gap"></div>
                    <a href="{%url 'product_detail' product.id%}" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                    <div class="nk-post-date float-right"><span class="fa fa-calendar"></span> {{product.created_at}}</div>
                </div>
                <!-- END: Post -->
            </div>
            {%endfor%}



        </div>
    </div>
    <!-- END: Latest News -->

    <div class="nk-gap-2"></div>
    <div class="row vertical-gap">
        <div class="col-lg-12">

            <!-- START: Latest Posts -->
            <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Latest</span> Posts</span></h3>
            <div class="nk-gap"></div>
            <div class="nk-blog-grid">
                <div class="row">

                    {%for post in posts%}
                    <div class="col-md-6">
                        <!-- START: Post -->
                        <div class="nk-blog-post">
                            <a href="{%url 'blog_detail' post.id%}" class="nk-post-img">
                                <img src="{{post.image.url}}" alt="{{post.title}}">
                                <span class="nk-post-comments-count">13</span>
                            </a>
                            <div class="nk-gap"></div>
                            <h2 class="nk-post-title h4"><a href="{%url 'blog_detail' post.id%}">{{post.title}}</a></h2>
                            <div class="nk-post-by">
                                <img src="{{post.image.url}}" alt="Wolfenstein" class="rounded-circle" width="35"> by <a href="#">{{post.user.username}}</a> in {{post.created_at}}
                            </div>
                            <div class="nk-gap"></div>
                            <div class="nk-post-text">
                                <p>{{post.description|slice:':80'}}...</p>
                            </div>
                            <div class="nk-gap"></div>
                            <a href="{%url 'blog_detail' post.id%}" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                        </div>
                        <!-- END: Post -->
                    </div>
                    {%endfor%}



                </div>
            </div>
            <!-- END: Latest Posts -->



            <!-- START: Tabbed News  -->
            <div class="nk-gap-3"></div>
            <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Tabbed</span> News</span></h3>
            <div class="nk-gap"></div>
            <div class="nk-tabs">
                <!--
                    Additional Classes:
                        .nav-tabs-fill
                -->
                <ul class="nav nav-tabs nav-tabs-fill" role="tablist">
                    {% for category in categories%}
                    <li class="nav-item">
                        <a class="nav-link active" href="#tabs-1-{{category.name}}" role="tab" data-toggle="tab">{{category.name}}</a>
                    </li>
                    {%endfor%}

                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="tabs-1-{{category.name}}">
                        <div class="nk-gap"></div>
                        <!-- START: Action Tab -->



{%for new in news%}
<div class="nk-blog-post nk-blog-post-border-bottom">
    <div class="row vertical-gap">
        <div class="col-lg-3 col-md-5">
            <a href="{%url 'news_detail' new.id%}" class="nk-post-img">
                <img src="{{new.image.url}}" alt="{{new.title}}">
                {%for category in categories%}
                <span class="nk-post-categories">
                    <span class="bg-main-1">{{category.name}}</span>
                </span>
                {%endfor%}

            </a>
        </div>
        <div class="col-lg-9 col-md-7">
            <h2 class="nk-post-title h4"><a href="{%url 'news_detail' new.id%}">{{new.title}}</a></h2>
            <div class="nk-post-date mt-10 mb-10">
                <span class="fa fa-calendar"></span> {{new.created_at}}
                <span class="fa fa-comments"></span> <a href="#">0 comments</a>
            </div>
            <div class="nk-post-text">
                <p>{{new.description|slice:':80'}}...</p>
            </div>
        </div>
    </div>
</div>
{%endfor%}








            <!-- START: Best Selling -->
            <div class="nk-gap-3"></div>
            <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Best</span> Selling</span></h3>
            <div class="nk-gap"></div>
            <div class="row vertical-gap">

                {%for product in products%}
                <div class="col-md-6">
                    <div class="nk-product-cat">
                        <a class="nk-product-image" href="store-product.html">
                            <img src="{{product.image.url}}" alt="{{product.title}}">
                        </a>
                        <div class="nk-product-cont">
                            <h3 class="nk-product-title h5"><a href="store-product.html">{{product.title}}</a></h3>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-rating" data-rating="{{product.rate}}"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-price">€ {{product.price}}</div>
                            <div class="nk-gap-1"></div>
                            <a href="{% url 'cart_action' action='add' cart_item_id=product.id %}" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
                        </div>
                    </div>
                </div>
                {%endfor%}


            </div>
            <!-- END: Best Selling -->
                    </div>



    </div>
</div>

<div class="nk-gap-4"></div>

</div>
{%endblock%}